div {
  background-color: #1f1f1f;
  color: #e0e0e0;
  padding: 20px;
  border-radius: 40px;
  width: 60%;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 0 30px #6600ff;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: 'Anta', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 30px;
  color: #e0e0e0;
  text-align: center;
}

a {
  color: #bb86fc;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

header, footer {
  background-color: #1f1f1f;
  padding: 1rem;
}

button {
  background-color: #1f1f1f;
  color: #e0e0e0;
  border: 5px solid #333333;
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

button:hover {
  background-color: #333333;
}
